* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 26px 0;
}

.header__nav {
    text-align: center;
    display: inline;
}

.header__item {
    display: inline;
    margin: 0 36px;
}

.header__link {
    font-weight: 700; 
    font-size: 18px; 
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    text-transform: uppercase;
    cursor: pointer;
}

.banner {
    margin-bottom: 49px;
    line-height: 0;
}

.represent__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 38px;
    text-align: center;
}

.represent__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    text-align: center;
}

.represent__desc:last-child {
    margin-bottom: 66px;
}

.button {
    text-align: center;
    margin-bottom: 51px;
}

.btn {
    display: block;
    width: 191px;
    height: 51px;
    border: 1px solid #FF0000;
    background-color: #FF0000;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    cursor: pointer;
}

.footer {
    text-align: right;
    padding: 29px 105px;
}

.footer__info {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;
    color: #373737;
}